<h1 align="center">Part 13. Conditions, Indentations</h1>

Для классов, в которых обычно
используются сравнения, декоратор класса functools.total_ordering
предоставит всю функциональность сравнений при условии определения
методов __eq__ and __le__.

In [45]:
import functools

@functools.total_ordering
class Abs(object):
    def __init__(self, num):
        self.num = abs(num)
    def __eq__(self, other):
        return self.num == abs(other)
    def __lt__(self, other):
        return self.num < abs(other)

In [46]:
five = Abs(-5)
four = Abs(-4)

Операторы is и is not предназначены для сравнения тождественности
(то есть того, что два объекта имеют одинаковые идентификаторы и фактически являются одним объектом (а не только имеют одинаковые значения)).

In [48]:
a = "AbC"
b = "AbC"

In [49]:
a is b

True

Диапазонная проверка

In [51]:
score = 91

In [54]:
if 90 < score <= 100:
    print("Your grade is A")

Your grade is A

Вхождение в заданную группу

In [65]:
name = "Paul"
beatle = False

In [62]:
if name == 'George' or \
    name == 'Ringo' or \
    name == 'John' or \
    name == 'Paul':
    beatle = True

print(beatle)

True

In [66]:
# можно использовать круглые скобки и не использовать символ переноса строки
if (name == 'George' or
    name == 'Ringo' or
    name == 'John' or
    name == 'Paul'):
    beatle = True

print(beatle)

True

In [67]:
# версия проверки принадлежности, которая считается
# одной из базовых идиом Python

beatles = {'George', 'Ringo', 'John', 'Paul'}
beatle = name in beatles
beatle

True

In [69]:
# распространенная проверка связана с неявным преобразованием к «квазиистинным» или «квазиложным» значениям:

debug = True

if debug:
    print("Debugging...")

Debugging...

In [70]:
######################################

In [71]:
years_ls = [4, 200, 1800, 1900, 1903, 2000, 2002]
for i in years_ls:
    if i % 400 == 0:
        print(f"{i} високосный год")
    elif i % 4 == 0 and i % 100 != 0:
        print(f"{i} високосный год")
    else:
        print(f"{i} невисокосный год")

4 високосный год
200 невисокосный год
1800 невисокосный год
1900 невисокосный год
1903 невисокосный год
2000 високосный год
2002 невисокосный год